{% extends "index.html" %}
{% load staticfiles %}

{% block styles %}
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel="stylesheet" href="../static/css/login.css">
{% endblock %}


{% block content %}

    <form  style="margin-top: 190px;" align="center" action="" method="post">
      {% csrf_token %}
      <!-- as_p для того, чтобы каждый элемент формы был с новой строки -->
      {{ form.as_p }}
      <button type="submit">Зарегистрироваться</button>
    </form>

{% endblock %}

{% block scripts %}
    <script src="../static/js/index.js"></script>
{% endblock %}