{% extends 'index.html' %}
{% block title %}Главная страница{% endblock %}

{% block NavBar %}
<li class="disabled"><a style="color: green;">Добавление</a></li>
{% endblock %}



{% block content %}
	{% if context %}
		<table id="myTable2" align="center" class="table table ANC-hover table-bordered" >
			<thead>
				<tr align="center nav nav-tabs">
					<th onclick="sortTable(0)" class="col-md-1 tit">ID</a></th>
					<th onclick="sortTable(1)" class="col-md-1 tit">Готово</a></th>
					<th onclick="sortTable(2)" class="col-md-7 tit" >Название</th>
					<th onclick="sortTable(3)" class="col-md-3 tit">Дата</th>
				</tr>
			</thead>
			<tbody>
				{% for spisok in context %}
					<div class="row ">
						<tr class="limit" align="center" title="{{spisok.doc_note }}" onclick="openTable({{ spisok.id }})">

							<td class="col-md-1 tit ">{{ spisok.id }}</td>
							<td class="col-md-1 tit" >{% if spisok.doc_ready == True %} <span class="glyphicon glyphicon-ok green" ></span> {% else %} <span class="glyphicon glyphicon-remove red"></span> {% endif %}</td>
							<td class="col-md-7 " >{{ spisok.doc_title }}</td>
							<td class="col-md-3 " >{{ spisok.date }}</td>

						</tr>
					</div>	
				{% endfor %}
			</tbody>
		</table>
	{% else %}
		<p style="margin-top: 400px; font-size: 50px; text-align: center; color:yellow;">
			Данные о таблицах отсутствуют
		</p>
	{% endif %}
{% endblock %}