{% extends 'index.html' %}


{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	{% block title %}Подробная Информация{% endblock %}
	{% block NavBar %}


<li style="margin-top: 1px; margin-left: 100px;">
	<button class="btn btn-info btn-lg detail" alt="Редактировать" onclick="location.href='/polls/PC/{{ payloadclasses.id }}/Update'">
		<span class="glyphicon glyphicon-pencil"></span>  
		
	</button>
</li>
<li style="margin-top: 1px; margin-left: 10px;">
	<form action="{% url 'polls:PCDelete' payloadclasses.id %}" method="post" class="inline">
	{% csrf_token %}
		<input type="hidden" name="id" value="{{ payloadclasses.id }}" />
		<button type="submit" class="btn btn-danger btn-lg">
			<span class="glyphicon glyphicon-trash"></span>
		</button>
	</form>
</li>
{% endblock %}

	{% block content %}


	<div id="Detail" class="row Detail">  
		<div class="col-md-1">
			ID: 
		</div>
		<div class="col-md-10 col-md-offset-3">
			{{ payloadclasses.id }}
		</div><br>
		<div class="col-md-1">	
			Название: 
		</div>
		<div class="col-md-10 col-md-offset-3">
			{{ payloadclasses.title }}
		</div><br>
		<div class="col-md-1">
			Готовность: 
		</div>
		<div class="col-md-10 col-md-offset-3">
			{{ payloadclasses.ready }}
		</div><br>
		<div class="col-md-1">
			Заметка: 
		</div>
		<div class="col-md-10 col-md-offset-3">
			{{ payloadclasses.doc_note }}
		</div><br>
		<div class="col-md-1">
			Текст:        
		</div>
		<div class="col-md-10 col-md-offset-3">
			{{ payloadclasses.doc_text }}
		</div><br>
		<div class="col-md-1">
			Дата: 
		</div>
		<div class="col-md-10 col-md-offset-3">
			{{ payloadclasses.date }}
		</div><br>
	</div>


	{% endblock %}